body {
    background-color: #f2f2f2;
    margin: 1% 10%;
    font-family: Segoe;
}

header, footer, section {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 1em;
    margin: 1em 0em;
    box-shadow: 0 1.6px 3.6px 0 rgb(0 0 0 / 13%), 0 0.3px 0.9px 0 rgb(0 0 0 / 11%);
}
header:hover, footer:hover, section:hover {
    box-shadow: 0 1.6px 3.6px 0 rgb(0 0 0 / 52%), 0 0.3px 0.9px 0 rgb(0 0 0 / 44%);
    transition: box-shadow .15s ease-in-out;
}

#project {
    text-align: justify;
}
#project img {
    width: 100%;
    max-height: 500px;
    border-radius: 5px;
}
#project figcaption {
    text-align: center;
    font-style: italic;
    font-size: smaller;
}
#project figure {
    border: 1px solid #dee2e6!important;
    border-radius: 5px;
    padding: 0.5em;
    width: fit-content;
    margin: auto;
}

article {
    text-align: justify;
}

.content > article {
    flex: 70%;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.content > aside {
    display: flex;
    flex: 25%;
    margin-left: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 1.6px 3.6px 0 rgb(0 0 0 / 13%), 0 0.3px 0.9px 0 rgb(0 0 0 / 11%);
    border-radius: 15px;
}

.card-header {
    background-color: #0078d4;
    height: 9rem;
    width: 100%;
    margin-bottom: 3.5rem;
    border-radius: 15px 15px 0 0;
}

.card-image {
    display: block;
    width: 120px;
    height: auto;
    margin: 3.5rem auto 0 auto;
    border-radius: 15px;
}

.card-body {
    padding: 1rem;
    margin-top: -1rem;
    text-align: center;
}

.card-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.card-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card-footer img {
    width: 32px;
    height: 32px;
    margin: 0.5rem;
}

section.achievements {
    width: 30%;
    padding: 1em;
}

.achievements > img {
    width: 100%;
    height: auto;
    /*max-height: 121.95px;*/
    border-radius: 15px;
    margin: 1em 0em;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

img.logo {
    width: 98px;
    height: 98px;
}

h1, h2, h3, h4 {
    color: black;
}
h1 {
    margin-left: 16px;
}
h2 {
    margin-top: 0;
}

header {
    display: inline-flex;
    width: 100%;
}

header > a {
    display: inline-flex;
    text-decoration: none;
}

footer p {
    margin: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}


@media (max-width: 768px) {
    body {
        margin: 1%;
    }
    header, footer, section {
        width: 100%;
    }
    header {
        margin-top: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    footer {
        margin-bottom: 0;
    }
    section.achievements {
        width: 100%;
    }
    .container {
        flex-direction: column;
        margin: auto;
    }
    .main {
        display: flex;
        width: 100%;
    }
    .content > aside {
        display: flex;
        flex: 100%;
        margin: auto;
    }
    .content article {
        flex: 100%;
    }
    #project img {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 5px;
        margin: auto;
    }
    #project figure {
        border: 1px solid #dee2e6!important;
        border-radius: 5px;
        padding: 0.5em;
        margin: auto 0;
    }
}
