#project {
    text-align: justify;
}
#project img {
    width: 100%;
    max-height: 500px;
    border-radius: 5px;
}
#project figcaption {
    text-align: center;
    font-style: italic;
    font-size: smaller;
}
#project figure {
    border: 1px solid #dee2e6!important;
    border-radius: 5px;
    padding: 0.5em;
    width: fit-content;
    margin: auto;
}

@media (max-width: 768px) {
    #project img {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 5px;
        margin: auto;
    }
    #project figure {
        border: 1px solid #dee2e6!important;
        border-radius: 5px;
        padding: 0.5em;
        margin: auto 0;
    }
}
