---
import GlobalLayout from '../layouts/GlobalLayout.astro';
import CardDisplay from '../layouts/CardDisplay.astro';
import PresentationLayout from '../layouts/PresentationLayout.astro';

const d: Date = new Date();
const year: number = d.getFullYear();
---

<GlobalLayout title="Tristan Bony - Software Engineering Student">
	<header class="header p-4 bg-white text-base-content shadow-lg rounded-2xl w-full mb-4">
		<a href="https://www.tristanbony.me/" class="inline-flex">
			<img src="./images/favicon.svg" alt="Logo representing the initials T B" class="w-24 h-24" />
			<h1 class="text-black font-bold text-4xl my-auto ms-4">Tristan Bony</h1>
		</a>
		<!-- TODO - Add light/dark switch-->
	</header>

	<main>
		<PresentationLayout />
		
		<CardDisplay />
	</main>

	<footer class="footer footer-center p-4 bg-white shadow-lg rounded-2xl text-base mt-2">
		<div>
			<p>&copy; {year} Tristan Bony</p>
		</div>
	  </footer>
</GlobalLayout>
