---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Hello, <span class="text-gradient">World!</span></h1>

		<div class="flex-row flex-wrap">
			<Card 
				href="null"
				title="Get Started"
				description="Learn how to build your first Astro site in minutes."
				image="../src/assets/my_website_v5/Screen_TristanB_v5.png"
				category='achievement'
			/>
			<Card 
				href="null"
				title="Get Started"
				description="Learn how to build your first Astro site in minutes."
				image="../src/assets/my_website_v5/Screen_TristanB_v5.png"
				category='achievement'
			/>
		</ul>
	</main>
</Layout>
