---
import GlobalLayout from '../layouts/GlobalLayout.astro';
import CardDisplay from '../layouts/CardDisplay.astro';
import PresentationLayout from '../layouts/PresentationLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<GlobalLayout title="Tristan Bony - Software Engineering Student">
	<Header />

	<main>
		<PresentationLayout />
		
		<CardDisplay />
	</main>

	<Footer />
</GlobalLayout>
