---
const d: Date = new Date();
const year: number = d.getFullYear();
---

<footer class="footer footer-center p-4 bg-white dark:bg-gray-800 shadow-lg dark:border rounded-2xl text-base mt-2">
    <p>&copy; {year} Tristan Bony</p>
</footer>
