---
import Card from '../components/Card.astro';

// TODO - Add sort options for perso-projects | school-projects | work-exp
---
<!-- TODO - Add sort options for perso-projects | school-projects | work-exp -->
<div class="flex flex-row flex-wrap justify-center" id="cards-container"> <!-- TODO - Center -->
    <Card 
        href="./posts/test_post"
        title="My website v5"
        description="The most recent version of my website in which I present my interest for IT and the different projects I have made throughout the years."
        image="../src/assets/my_website_v5/Screen_TristanB_v5.png"
        category="achievement"
        status="in-progress"
    />
    <Card 
        href="./posts/test_post"
        title="Q-learning"
        description="Making of a game and an IA using the C language and SDL2 to find the exit of a maze via the quickest path."
        image="../src/assets/q_learning/player_mode.png"
        category="school-project"
        status="completed"
    />
    <Card 
        href="./posts/test_post"
        title="INVIVOO internship"
        description="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."
        image=""
        category="experience"
        status=""
    />
    <Card
        href="./posts/test_post"
        title="Lorem Ipsum"
        description="Lorem Ipsum is simply dummy text of the printing and typesetting industry."
        image=""
        category="other"
        status="abandoned"
    />
</div>
