---
import GlobalLayout from '../layouts/GlobalLayout.astro';

const { frontmatter } = Astro.props;
---

<GlobalLayout title="Tristan Bony - Software Engineering Student">
	<main>
		<slot />
		<!-- TODO: Customize markdown content -->
	</main>
</GlobalLayout>
