---
import GlobalLayout from "../layouts/GlobalLayout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { frontmatter } = Astro.props;
---

<GlobalLayout title="Tristan Bony - Software Engineering Student">
	<Header />

	<main>
		<slot />
		<!-- <Markdown content to customize/> -->
	</main>

	<Footer />
</GlobalLayout>
