---
// Might need JS to print next visualization

const todaysDate: Date = new Date();
const birthday: Date = new Date(2000, 4, 16);
const age: number = Math.floor((todaysDate.getTime() - birthday.getTime())/(1000*60*60*24*365.25));
---

<section id="presentation" class="shadow-lg bg-white border w-full rounded-2xl p-4 mb-2">
    <div class="flex flex-row flex-wrap justify-around items-center">
        <article class="text-justify md:flex-[70%]">
            <h2 class="text-2xl font-bold mb-10">Who am I? (boring version)</h2>
            <p class="mb-3">
                Immersed in the world of computer science from a very young age, I quickly became curious to understand the technologies that are part of our daily lives by tinkering and searching for information by myself.
            </p>
            <p class="mb-3">
                That's why I decided to join ISIMA, a French engineering school specialized in computer science after my CPGE at the Edouard Branly high school in Lyon in order to acquire more information and to gain experience to make it my job. These trainings taught me rigor with the help of scientific knowledge like mathematics, industrial sciences, physics and, of course, computer science.
            </p>
            <p class="mb-3">
                My engineering studies have allowed me to acquire skills in C, C++, C# (.NET), Java and SQL which completes my knowledge acquired as a self-taught person, such as Python, HTML, CSS as well as some PHP. Finally, I use GNU/Linux and Windows operating systems.
            </p>
            <p class="mb-3">
                I then had the opportunity to do a double cursus in the University of Oklahoma thanks to my motivation to succeed. I discovered a new 
            </p>
            <p class="mb-3">
                Besides my passion for technology, I also enjoy mountain biking, skiing and billiards (Blackball/Snooker/9-ball). In my free time, I also like to watch movies and series... and cat pictures of course. By the way, I also started playing violin at the age of 4 and traveled a lot.
            </p>
            <p class="mb-3">
                Finally, I studied three languages in addition of French (my native language): English (C1), Spanish (B1) and Mandarin (notions).
            </p>
            <!-- Show the boring funnier text if clicked or the innovative presentation by default -->
        </article>
        <aside class="flex md:flex-[25%] flex-col flex-wrap md:ml-5 justify-around items-center shadow-lg rounded-2xl">
            <div class="bg-blue-500 h-36 w-full mb-14 rounded-t-2xl">
                <img class="block w-32 h-auto mt-14 mx-auto mb-0 rounded-2xl" src="../src/assets/profile_pic.jpg" alt="Picture of me" />
            </div>
            <div class="p-4 mt-4 text-center">
                <h3 class="text-lg font-semibold">Tristan Bony, {age}, <span class="italic">(he/him)</span></h3>
                <p>Student in Computer Sciences @ University of Oklahoma, Norman, OK, USA && ISIMA, France</p>
                <address>
                    <ul>
                        <li class="card-li">
                            <span class="">Lyon, FR - Clermont-Ferrand, FR - Norman, OK, USA</span>
                        </li>
                        <li class="card-li">
                            <a href="tel:+33642089117" class="hover:underline hover:decoration-blue-500 hover:decoration-2">+33(0)6 42 08 91 17</a>
                        </li>
                        <li class="card-li">
                            <a href="mailto:tristan.bony@proton.me" class="hover:underline hover:decoration-blue-500 hover:decoration-2">tristan.bony@proton.me</a>
                        </li>
                    </ul>
                </address>
                <p><a href="./pdf/CV_English.pdf" target="_blank" class="card-cv">Download my CV (English)</a></p>
                <p><a href="./pdf/CV_French.pdf" target="_blank" class="card-cv">Download my CV (French)</a></p>
            </div>
            <div class="flex flex-wrap justify-around items-center pb-4">
                <a href="https://www.linkedin.com/in/tristanbony/" target="_blank" title="Visit my LinkedIn" class="w-8 h-8 m-2">
                    <img src="./images/LI-In-Bug.svg" alt="LinkedIn" />
                </a>
                <a href="https://floss.social/@TristanB0" target="_blank" title="Come see my toots" class="w-8 h-8 m-2">
                    <img src="./images/mastodon-logo-purple.svg" alt="Mastodon" />
                </a>
                <a href="https://www.github.com/TristanB0" target="_blank" title="Link to my projects" class="w-8 h-8 m-2">
                    <img src="./images/github-mark.svg" alt="GitHub" />
                </a>
            </div>
        </aside>
    </div>
</section>
